.form-cadastro {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
  width: 100%;
}

p-button {
  margin-top: 20px;
  margin-right: 10px;
}
