<h2>Cadastro de Produtos</h2>
<div class="form-cadastro">
  <label>Nome:</label>
  <input
    type="text"
    pInputText
    [(ngModel)]="produto.nome"
    (blur)="validarCampo('nome')"
  />

  <label>Descrição:</label>
  <input
    type="text"
    pInputText
    [(ngModel)]="produto.descricao"
    (blur)="validarCampo('descricao')"
  />

  <label>Data de Validade:</label>
  <input
    type="date"
    pInputText
    [(ngModel)]="produto.validade"
    (blur)="validarCampo('validade')"
  />

  <label>Custo:</label>
  <input
    type="number"
    pInputText
    [(ngModel)]="produto.custo"
    (blur)="validarCampo('custo')"
    placeholder="Informe o custo"
  />

  <label>Preço:</label>
  <input
    type="number"
    pInputText
    [(ngModel)]="produto.preco"
    (blur)="validarPrecoECalcularMargem()"
    placeholder="Informe o preço de venda"
  />

  <label>Margem de Lucro (%):</label>
  <input
    type="text"
    pInputText
    [value]="margemLucro | number : '1.2-2'"
    disabled
  />

  <label>Quantidade:</label>
  <input
    type="number"
    pInputText
    [(ngModel)]="produto.quantidade"
    (blur)="validarCampo('quantidade')"
  />

  <p-button
    label="Salvar"
    icon="pi pi-save"
    (click)="salvarProduto()"
    class="p-button-success"
  ></p-button>
  <p-button
    label="Voltar"
    icon="pi pi-arrow-left"
    routerLink=".."
    class="p-button-secondary"
  ></p-button>
</div>

<p-toast></p-toast>
