/* login.component.scss */
:host {
  .card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
  }

  .p-inputgroup {
    margin-bottom: 1rem;
  }

  .p-inputgroup-addon {
    background: var(--primary-color);
    color: var(--primary-color-text);
    border-color: var(--primary-color);
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
