<div class="tela-inicio">
  <h1>Sistema de Estoque</h1>
  <div class="botoes">
    <p-button
      label="Cadastro de Produtos"
      icon="pi pi-plus"
      routerLink="/cadastro-produto"
      class="p-button-success"
    ></p-button>
    <p-button
      label="Relatórios de Inventário"
      icon="pi pi-chart-bar"
      routerLink="/relatorios-inventario"
      class="p-button-warning"
    ></p-button>
    <p-button
      label="Histórico de Movimentação"
      icon="pi pi-book"
      routerLink="/historico-movimentacao"
      class="p-button-secondary"
    ></p-button>
    <p-button
      label="Gerenciar Fornecedores"
      icon="pi pi-users"
      routerLink="/fornecedores"
      class="p-button-primary"
    ></p-button>
  </div>
</div>
